<div 
  class="border border-light p-3 mb-4">
  <div 
    class="d-flex align-items-center justify-content-center" 
    style="height: 500px;">    
      <div class="form-group">
        <h1 
          class="font-italic" 
          class="text-center">LogIn</h1>
        <br>
        <input 
          type="text" 
          class="form-control" 
          id="usr" 
          placeholder="Username">
        <br>
        <input 
          type="text" 
          class="form-control" 
          id="pass" 
          placeholder="password">
        <br>
        <p 
          class="text-center" 
          class="text-primary">
          Forget password?</p>     
        <button 
          type="button" 
          class="btn btn-primary btn-lg btn-block"
          >Login</button>
        <br>
        <br>
        <p>Don't have an account ?<span class="text-primary">Creat Your account</span> </p>
      </div>
      <br>   
  </div>
</div>


  

  


