 <div 
    class="border border-light p-3 mb-4">
    <div 
      class="d-flex align-items-center justify-content-center" 
      style="height: 500px;">    
        <div class="form-group">
          <h1 
          class="font-italic" 
          class="text-center">Register Info</h1>
          <p>Don't have an account ? <span class="text-primary">Login</span> </p>
          <input 
            type="text" 
            class="form-control" 
            placeholder="Name">
          <br>
          <input 
            type="email" 
            class="form-control" 
            placeholder="E-mail">
          <br>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="date" placeholder="Birthday" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <select id="inputState" class="form-control"> 
                <option value="" selected disabled>Gender</option>
                <option>male</option>
                <option>Female</option>
              </select>
            </div>  
            <input 
              type="password" 
              class="form-control" 
              placeholder="password">
          <br>   <br>
          <input 
              type="password" 
              class="form-control" 
              placeholder="re-password">
          <br> <br>
          <input 
              type="text" 
              class="form-control" 
              placeholder="Username">
          <br> <br>
          <button 
            type="button" 
            class="btn btn-primary btn-lg btn-block"
            >Register</button>
          <br>
          <br>
        </div>
        <br>   
    </div>
  </div>
  
  
    
  
    
  
  
  