<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-one-margin">
            <br><br><br><br><br>    <br><br>
             <h1> The Fastest & Easiest Way To</h1> <h1> Rent, or Purchase a Car</h1>
            <br><br>
            <button class="btn btn-primary signup-button">Sign Up</button>
        </div>
        <div class="col-xs-6">
            <img class="img-style" [src]="imagePath"  alt="Responsive image" width="720px">
        </div>
    </div>
    <hr class="hr-width">
    <div class="row" style="margin-bottom: 50px;">
        <h1 class="h1-second-div"> Featured Service</h1>
        <h1 class="h1-second-div"></h1>
        <div class="col-sm-4 first-col-feature">
            <i class="first-feature-icon fa fa-car fa-5x" ></i>
            <h3 class="first-h-feature">fastest and easiest</h3>
            <p class="first-p-feature">You Can Rent the Car</p>
            <p class="firs-next-p-feture">in simple few Steps</p>
        </div>
        <div class="col-sm-4 second-col-feature">
            <i class="second-feature-icon fa fa-cc-visa fa-5x"></i>
            <h3 class="second-h-feature">Payment Method</h3>
            <p class="second-p-feature">Can payment use any</p>
            <p class="second-next-p-feture">Credit Card</p>
        </div>
        <div class="col-sm-4 third-col-feature">
            <i class="third-feature-icon fa fa-plus-circle fa-5x"></i>
            <h3 class="third-h-feature">Add your Car</h3>
            <p class="third-p-feature">Add your Car for Rent</p>
            <p class="third-next-p-feture"> or Purchase</p>
        </div>
    </div>
    <hr class="hr-width">

    <div class="row" style="margin-bottom: 50px;">
        <h1 class="h1-second-div"> Featured Service</h1>
        <h1 class="h1-second-div"></h1>
        <div class="col-sm-4 first-col-feature">
            <img [src]="firstCarPath" width="150px" class="first-img-car">
            <h4 class="first-img-h-car">Mercedes Grand Sedan</h4>
            <p>
                <span class="first-img-brand-car">chevrolet</span>
                <span class="first-img-price-car">500$</span> <span class="first-img-day-car">/day</span>
            </p>
            <button type="button" class="btn btn-primary buy-now-button">Buy Now</button>
            <button type="button" class="btn btn-success details-button">Deatils</button>
        </div>
        <div class="col-sm-4 second-col-feature">
            <img [src]="firstCarPath" width="150px" class="first-img-car">
            <h4 class="first-img-h-car">Mercedes Grand Sedan</h4>
            <p>
                <span class="first-img-brand-car">chevrolet</span>
                <span class="first-img-price-car">500$</span> <span class="first-img-day-car">/day</span>
            </p>
            <button type="button" class="btn btn-primary buy-now-button">Buy Now</button>
            <button type="button" class="btn btn-success details-button">Deatils</button>
        </div>
        <div class="col-sm-4 third-col-feature">
            <img [src]="firstCarPath" width="150px" class="first-img-car">
            <h4 class="first-img-h-car">Mercedes Grand Sedan</h4>
            <p>
                <span class="first-img-brand-car">chevrolet</span>
                <span class="first-img-price-car">500$</span> <span class="first-img-day-car">/day</span>
            </p>
            <button type="button" class="btn btn-primary buy-now-button">Buy Now</button>
            <button type="button" class="btn btn-success details-button">Deatils</button>
        </div>
    </div>
    <hr class="hr-width">
    <div class="row">
        <div class="col-xs-4">
        <h1 style="margin-right: 50px;">ABOUT US </h1>
        <h1 style="margin-right: 50px;">Welcome to Rental Cars</h1>
        </div>
        <div class="col-xs-8">
            <p>A paragraph is a series of related sentences developing a central idea, called the </p>
            <p>topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a </p>
            <p>sentence or a group of sentences that supports one central, unified idea. </p>
            <p>add one idea at a time to your broader argument.</p>
        </div>
    </div>
    <hr class="hr-width">
</div>

<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mt-md-0 mt-3">
                <h5 class="text-uppercase">Rental Cars</h5>
                <p>Far far away, behind the word mountains,far from the countries Vokalia and Consonantia,there live the blind texts.</p>
                <i style="margin-right: 30px;" class="fa fa-facebook fa-3x" ></i>
                <i style="margin-right: 30px;" class="fa fa-twitter fa-3x"></i>
               <i class="fa fa-google fa-3x"></i>
            </div>  
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Information</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Best Price Guarantee</a>
                </li>
                <li>
                    <a href="#">Sevices</a>
                </li>
                <li>
                    <a href="#">terms and Condition </a>
                </li>
                <li>
                    <a href="#">privacy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Customer Support</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Payment Option</a>
                </li>
                <li>
                    <a href="#">Booking Tips</a>
                </li>
                <li>
                    <a href="#">How it works</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div> 
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Have a Question ?</h5>
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-map-marker" style="margin-right: 10px;"></i> <span>Palestine , Nablus</span>             
                  </li>
                <li>
                    <i class="fa fa-phone" style="margin-right: 10px;"></i> <span>00970-595330972</span>             
                </li>
                <li>
                    <i class="fa fa-envelope" style="margin-right: 10px;"></i> <span>bwwawi@gmail.com</span>             
                </li>
            </ul>
        </div> 
    </div>
  
</div>
    <div class="footer-copyright text-center py-3">Copyright ©2020 All rights reserved
    </div>
  </footer>
